@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 400;
  src: local('BioRhyme'), local('BioRhyme-Regular'), url(https://fonts.gstatic.com/s/biorhyme/v1/o8HZwUo94r0h4FpPcSJnyHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
}

@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 700;
  src: local('BioRhyme Bold'), local('BioRhyme-Bold'), url(https://fonts.gstatic.com/s/biorhyme/v1/o-NqezqhXmCZNt8g452HVIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}

@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 800;
  src: local('BioRhyme ExtraBold'), local('BioRhyme-ExtraBold'), url(https://fonts.gstatic.com/s/biorhyme/v1/WJLgCRiLj42QC0qEUB5V7ogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}
